:root {
  --font-family-anton: "Anton", sans-serif;
  --font-family-noto-sans-jp: "Noto Sans JP", sans-serif;

  --color-white: #fffefc;
  --color-black: #020911;
  --color-accent-red: #f20574;
  --color-accent-yellow: #f2e52e;
  --color-background-black: #171525;
  --color-background-navy: #030427;
  --color-form-background-yellow: #fffab9;
  --color-form-placeholder-gray: #ad9783;
  --color-form-border-red: #df6da2;
  --color-button-hover-red: #f043a5;
  --color-course-hover-yellow: #f4e877;
  --color-hero-overlay: rgba(57, 24, 111, 0.4);
  --color-course-overlay: rgba(32, 8, 19, 0.63);
}

/*global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-noto-sans-jp);
}

img {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

/*header*/
.header {
  height: 80px;
  background-color: var(--color-background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-logo-wrapper {
  margin: 0;
}

.header-logo {
  height: 50px;
}

@media (max-width: 750px) {
  .header {
    height: 60px;
  }

  .header-logo {
    height: 30px;
  }
}

/*hero*/
.hero {
  background-image: url("./img/hero.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 40px;
  position: relative;
  margin-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hero-overlay);
}

.hero-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.hero-texts {
  color: var(--color-accent-yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-main-copy {
  font-family: var(--font-family-anton);
  font-size: 64px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.05em;
}

.hero-main-copy-accent {
  color: var(--color-accent-red);
}

.hero-sub-copy {
  margin: 0;
}

@media (max-width: 750px) {
  .hero {
    margin-top: 60px;
    padding: 40px 20px;
  }

  .hero-container {
    justify-content: flex-start;
  }

  .hero-texts {
    gap: 20px;
  }
}

.about {
  width: 100%;
  background-color: var(--color-background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-container {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--color-white);
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;
}

.about-title {
  font-family: var(--font-family-anton);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.about-title-grand {
  color: var(--color-accent-red);
}

.about-title-players {
  color: var(--color-accent-yellow);
}

.about-mini-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-text {
  display: block;
  font-size: 16px;
  margin: 0;
}

.about-image {
  width: 320px;
  height: 180px;
  object-fit: fill;
}

@media (max-width: 750px) {
  .about {
    padding: 40px 0;
  }

  .about-container {
    padding: 0 20px;
  }
  .about-title {
    font-size: 24px;
  }

  .about-image {
    display: none;
  }
}
/*course*/
.course {
  width: 100%;
  background-color: var(--color-background-navy);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
  color: var(--color-white);
  padding: 80px 0;
}

.course-container {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 40px;
  gap: 40px;
}

.course-title {
  font-family: var(--font-family-anton);
  color: var(--color-white);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin: 0;
}

.course-block-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-block {
  display: flex;
  background-color: var(--color-accent-yellow);
  min-height: 150px;
  box-shadow: 4px 4px 0 var(--color-accent-red);
  transition-duration: 0.3s;
}

.course-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  background-image: url("./img/live.png");
  background-size: cover;
  position: relative;
}

.course-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-course-overlay);
}

.course-image-name {
  color: var(--color-white);
  font-family: var(--font-family-anton);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin: 0;
  z-index: 1;
}

.course-block-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;
  align-self: stretch;
  margin: 0;
}

.course-block-text {
  display: block;
  align-self: stretch;
  margin: 0;
  color: var(--color-background-black);
}

.course-block-more {
  color: var(--color-accent-red);
}

/*hover*/
.course-block:hover {
  background-color: var(--color-course-hover-yellow);
  box-shadow: 12px 12px 2px var(--color-accent-red);
}

.course-all-course:hover {
  background-color: var(--color-button-hover-red);
  box-shadow: 12px 12px 2px 0px var(--color-accent-yellow);
}

/*all-course*/
.course-all-course {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  align-self: stretch;
  padding: 10px 40px;
  gap: 10px;
  background-color: var(--color-accent-red);
  box-shadow: 4px 4px 0px 0px var(--color-accent-yellow);
  transition: 0.3s;
}

.course-all-course-text-container {
  flex-grow: 1;
  text-align: center;
}

.course-all-course-text {
  font-size: 20px;
  margin: 0;
}

.course-all-course-arrow-right {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

@media (max-width: 750px) {
  .course {
    padding: 40px 20px;
  }

  .course-container {
    width: 100%;
    padding: 0;
  }

  .course-title {
    font-size: 24px;
  }

  .course-block-container {
    width: 100%;
  }

  .course-block-body {
    width: 100%;
  }

  .course-block {
    width: 100%;
    flex-direction: column;
  }

  .course-block-text {
    font-size: 12px;
    width: 100%;
  }

  .course-block-more {
    font-size: 12px;
  }

  .course-image {
    width: 100%;
    height: 200px;
  }

  .course-image-name {
    font-size: 24px;
  }

  .course-all-course {
    padding: 10px 20px;
    height: 40px;
  }

  .course-all-course-text {
    font-size: 14px;
  }
}
